.blog{
    background-color: #e3f2fd;
    border: 20px tomato;
    margin: 20px;
}
.maruf{
    background-color: #e0f7fa;
    margin: 20px;
    border-radius: 10px;
}
.mahidul{
    background-color: rgb(117, 162, 117);
    margin: 20px;
}